<style>
    a{
        text-decoration: none;
    }
</style>

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand text-primary fw-bold fs-4" href="#">Big Taxi</a>
      <div class="ms-auto d-flex align-items-center">
        {% if user.is_authenticated %}
            SuccessFull Login
        {% else %}
            <a href="{% url 'driver:customerLogin' %}" class="btn btn-outline-primary me-2">Login</a>
            <a href="{% url 'driver:customerSignup' %}" class="btn btn-outline-primary me-2">Signup</a>
        {% endif %}
      </div>
    </div>
  </nav>