<style>
    a {
  text-decoration: none;
}

.text-color-navbar {
  font-weight: 550;
}

.scrolling-navbar {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.scrolling-navbar::-webkit-scrollbar {
  display: none;
}

.nav-item-wrapper {
  display: inline-block;
  padding: 0.7rem;
}

.nav-link {
  color: gray;
  position: relative;
}

.flash-red {
  animation: flash 1s infinite;
}
@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}


/* .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.nav-item-wrapper:hover .nav-link {
  color: black;
}

.nav-item-wrapper:hover .nav-link::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item-wrapper:not(:hover) .nav-link::after {
  transform: scaleX(0);
  transform-origin: right;
} */

</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand text-primary text-main-own fw-bold fs-4" href="{% url 'taxi_app:autoRedirect' %}">BigTaxi</a>
    <div class="ms-auto d-flex align-items-center">
      <!-- search bar -->
      {% if not user.is_authenticated %}
        <a href="{% url 'driver:customerLogin' %}" class="btn btn-outline-main me-2">Login</a>
        <a href="{% url 'driver:customerSignup' %}" class="btn btn-outline-main me-2">Signup</a>
      {% endif %}

    </div>
  </div>
</nav>

<div class="bg-light border-bottom scrolling-navbar d-flex">
{% if user.is_authenticated %}
  {% if userCategoryis == 'Customer' %}

    <!-- <div class="nav-item-wrapper"><a class="nav-link" href="#">Profile</a></div> -->
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:autoRedirect' %}" title="Home">
      <!-- <i class="bi bi-house-door-fill"></i> -->
      Home
    </a></div>
    <div class="nav-item-wrapper"><a href="{% url 'taxi_app:pinTaxi' %}" class="nav-link" title="Booking Taxi">
      Booking Taxi
      <!-- <i class="bi bi-car-front-fill"></i> -->
    </a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#" title="Argent Booking">
      Argent Booking
       <!-- <i class="bi bi-info-circle-fill text-info"></i> -->
      <!-- <i class="bi bi-lightning-fill text-danger flash-red"></i> -->
      <!-- <i class="bi bi-speedometer"></i> -->
    </a></div>
    <div class="nav-item-wrapper">
      <a class="nav-link" href="{% url 'taxi_app:statusCustomer' %}">Run Status</a>
    </div>
    

  {% elif userCategoryis == 'Driver' %}

    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:statusDriverHere' %}">Status</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:autoRedirect' %}">Driver</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:pinTaxi' %}">PinTaxi</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#">ArgentTaxi</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:statusCustomer' %}">Run Status</a></div>

  {% elif userCategoryis == 'Developer' %}
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:autoRedirect' %}"></a>Home</div>
    <div class="nav-item-wrapper"><a class="nav-link" href="{% url 'taxi_app:pinTaxi' %}">PinTaxi</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#">Developer</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#">TaxiSuggest</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#">ArgentTaxi</a></div>
    <div class="nav-item-wrapper"><a class="nav-link" href="#">Informations</a></div>

  {% endif %}
{% endif %}
</div>

{% if messages %}
  <div class="w-100">
    {% for message in messages %}
      <div
        class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show rounded-0 mb-0 text-center"
        role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}