.text-main-own{
      color: #0f766e !important;
}
.bg-main-own{
      background-color: #0f766e !important;
}
.text-brown-own{
      color: #991b1b !important;
}
.bg-brown-own{
      background-color: #991b1b !important;
}