{% extends 'base.html' %}
{% block body %}

<div class="container mt-5">
  <h2 class="text-center mb-4">App Information</h2>
  {% if messages %}
      <div>
        {% for message in messages %}
          <div 
            class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
  {% endif %}
  <div class="card shadow p-4">
    <h5>Please follow the rules below to avoid issues during <span class="text-danger">'sign up'</span>:</h5>
    <ul>
      <li>Don't sign up with an already registered <strong>username</strong>.</li>
      <li>Don't use a <strong>mobile number</strong> that's already in use.</li>
      <li>Make sure <strong>vehicle type</strong> matches your allowed vehicle limit:
        <ul>
          <li>Only <strong>1 passenger</strong> is allowed in <strong>bicycle or motorbike</strong>.</li>
          <li>Up to <strong>10 passenger</strong> is allowed in <strong>four-wheelers</strong>.</li>
          <li>Up to <strong>20 passenger</strong> is allowed in <strong>more than 4 wheelers</strong>.</li>
        </ul>
      </li>
      <li>Mobile number must:
        <ul>
          <li>Be exactly <strong>10 digits</strong> long (xxxxxxxx80)</li>
          <li>Start with digits <strong>6, 7, 8, or 9</strong></li>
          <li>Not be <strong>0000000000</strong></li>
        </ul>
      </li>
    </ul>

    <div class="d-flex justify-content-between mt-4">
      <a href="{% url 'driver:driverSignup' %}" class="btn btn-success">Sign Up</a>
      <a href="{% url 'taxi_app:home' %}" class="btn btn-primary">Home</a>
    </div>
  </div>
</div>

{% endblock %}
