{% extends 'base.html' %} {% block body %}
<link rel="stylesheet" href="../../static/css/pinTaxi.css" />

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% if DataShow %}
<div class="container mb-4">
  <div class="form-section">
    <h4>Customer Need To Pin Taxi</h4>

    {% if showMessage %}
      {% if messages %}
      <div>
        {% for message in messages %}
        <div
          class="alert {% if message.tags == 'success' %}alert-success {% elif message.tags == 'warning' %}alert-warning {% else %}alert-info{% endif %}"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <div class="mb-3 text-start position-relative">
        <label class="form-label">Passenger:</label>
        <input
          type="number"
          class="form-control"
          name="uTaxiPassenger"
          min="0"
          placeholder="maximum no of passenger travel*"
          required
        />
      </div>

      <div class="mb-3 text-start position-relative">
        <label class="form-label">Current Location Address:</label>
        <input
          type="text"
          class="form-control"
          name="uCurrentLocation"
          id="currentLocationUser"
          placeholder="enter your current address*"
          required
        />

        <!-- Search Button -->
        <button
          type="button"
          id="search-current-location-btn"
          class="btn btn-outline-secondary mt-2 ms-2"
        >
          Search Location
        </button>

        <!-- Map Button -->
        <button
          type="button"
          id="open-current-map-btn"
          class="btn btn-outline-primary mt-2"
        >
          Select Location on Map
        </button>

        <!-- Map Div -->
        <div
          id="currentMap"
          style="display: none; height: 300px; margin-top: 10px"
        ></div>

        <!-- Confirm Button -->
        <button
          type="button"
          id="confirm-current-btn"
          class="btn btn-success mt-2"
          style="display: none"
        >
          Use This Location
        </button>
      </div>

      <div class="mb-3 text-start position-relative">
        <label class="form-label">To Location Address:</label>
        <input
          type="text"
          class="form-control"
          name="uLastLocation"
          id="toLocationInput"
          placeholder="enter your last destination*"
          required
        />

        <!-- New Search button -->
        <button
          type="button"
          id="search-location-btn"
          class="btn btn-outline-secondary mt-2 ms-2"
        >
          Search Location
        </button>

        <button
          type="button"
          id="open-map-btn"
          class="btn btn-outline-primary mt-2"
        >
          Select Location on Map
        </button>
        <div id="map"></div>
        <button type="button" id="confirm-btn" class="btn btn-success mt-2">
          Use This Location
        </button>
      </div>

      <div class="mb-3 text-start position-relative">
        <label class="form-label">Travel City From:</label>
        <input
          type="text"
          class="form-control"
          name="uCity"
          id="user-city"
          value=""
          placeholder="Select your starting location from the map. It will be filled automatically, but please make sure to verify the city as well*"
          readonly
          />
        <input
          type="number"
          class="form-control"
          name="uPincode"
          id="pincodeInput"
          required
          hidden
        />
      </div>

      <div class="mb-3 text-start position-relative">
        <label class="form-label" for="datetime"
          >Select travel date and time:</label
        >
        <input
          type="datetime-local"
          id="datetime"
          class="form-control"
          name="utaxiDateAndTimeByUser"
          required
        />
      </div>

      {% if userCategoryis == 'Customer' %}
      <div class="mb-3 text-start position-relative">
        <label class="form-label">Coupon Code:</label>
        <input
          type="text"
          class="form-control"
          name="uCouponCode"
          placeholder="Discount Coupon Code"
        />
        <input
          type="text"
          class="form-control"
          name="uVerifyStatus"
          value="{{ userCategoryis }}"
          hidden
        />
        <input
          type="text"
          class="form-control"
          name="uBarCode"
          value="{{ userBarCodeAccessis }}"
          hidden
        />
      </div>

      {% elif userCategoryis == 'Driver' %}
      <input
        type="text"
        class="form-control"
        name="uVerifyStatus"
        value="{{ userCategoryis }}"
        hidden
      />
      <input
        type="text"
        class="form-control"
        name="uBarCode"
        value="{{ userBarCodeAccessis }}"
        hidden
      />
      {% endif %}

      <div class="w-100 d-flex justify-content-center gap-5">
        <a href="{% url 'taxi_app:home' %}" class="btn btn-primary w-pin-taxi"
          >Back</a
        >
        <button type="submit" class="btn btn-success w-pin-taxi">Post</button>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="container mt-5">
  <div class="alert text-center">
    You have already pinned 2 taxis. To add another, please unpin one first.
  </div>
</div>
{% endif %} 
{% if valueOfPin %}
  {% for DP, FIR in dataOfPin %}
<div class="container-xxl my-3">
  {% if FIR %}
    <div class="bg-warning shadow-sm rounded p-3 d-flex align-items-center flex-wrap flex-md-nowrap" style="border-radius: 50%;">
  {% else %}
    <div class="bg-white shadow-sm rounded p-3 d-flex align-items-center flex-wrap flex-md-nowrap" style="border-radius: 50%;">
  {% endif %}
    <div class="me-4 mb-3 mb-md-0">
      <img
        src="/media/{{ profileImage }}"
        alt="User Profile"
        class="rounded-circle"
        style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;"
      />
    </div>
    
    <div class="me-auto">
      <h4 class="mb-1">
        {{ usernames }}
        <span class="taxi-passenger-limit-text">({{ DP.taxiCity }})</span>
      </h4>
      <p class="text-muted mb-0">
        <strong>from:</strong> {{ DP.currentLocation|truncatewords:15 }}
      </p>
      <p class="text-muted mb-0"><strong>to:</strong> {{ DP.toLocation|truncatewords:15 }}</p>
      <p class="text-muted mb-0"><strong>passenger:</strong> {{ DP.taxiPassenger }}</p>
      <p class="text-muted mb-0"><strong>Date & Time:</strong> {{ DP.taxiDateAndTimeByUser }}</p>
    </div>

    <div class="mt-3 mt-md-0">
      {% if FIR %}
        <a href="{% url 'taxi_app:checkPinReport' DP.taxiAvaId %}" class="btn btn-primary"><i class="bi bi-file-earmark-text"></i></a>
        <a href="{% url 'taxi_app:repostPin' DP.taxiAvaId %}" class="btn btn-success"><i class="bi bi-arrow-clockwise"></i></a>
        <a href="{% url 'taxi_app:deletePinTaxiReport' DP.taxiAvaId %}" class="btn btn-danger"><i class="bi bi-trash"></i></a> 
      {% else %}
        <a href="{% url 'taxi_app:pinStatus' DP.taxiAvaId %}" class="btn btn-warning button-home"><i class="bi bi-check-circle"></i></a>
        <!-- <a href="#" class="btn btn-info"><i class="bi bi-pencil-square"></i></a> -->
        <a href="{% url 'taxi_app:deletePinTaxiDetail' DP.taxiAvaId %}" class="btn btn-danger button-home-red"><i class="bi bi-trash"></i></a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} 
{% endif %}

<!-- <script src="../../static/js/city.js"></script> -->
<script src="../../static/js/pinTaxi.js"></script>
{% endblock %}
