{% extends 'base.html' %}
{% block body %}
<style>
  body { background-color: #f8fafc; }
  .form-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    text-align: center;
  }
  h4 { color: #28a745; margin-bottom: 1.5rem; }
  .eye-top{
    margin-top: 16px;
  }
</style>

<div class="container">
  <div class="form-section">
    <h4>BigTaxi Developer Signup</h4>

    {% if messages %}
      <div>
        {% for message in messages %}
          <div 
            class="alert 
            {% if message.tags == 'success' %}alert-success
            {% elif message.tags == 'warning' %}alert-warning
            {% else %}alert-info{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3 text-start position-relative">
        <label class="form-label">Secret Code</label>
        <input type="password" class="form-control" name="secretCode" id="secretCode" required>
        <button type="button" class="btn btn-sm position-absolute end-0 top-50 translate-middle-y me-2 eye-top" onclick="togglePassword('secretCode')">👁️</button>
      </div>

      <div class="mb-3 text-start">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" required>
      </div>
      <div class="mb-3 text-start">
        <label class="form-label">Gmail</label>
        <input type="text" class="form-control" name="gmail" required>
      </div>
      <div class="mb-3 text-start">
        <label class="form-label">Mobile Number</label>
        <input type="number" class="form-control" name="mobileNo" required>
      </div>
      <div class="mb-3 text-start position-relative">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password1" id="password1" required>
        <button type="button" class="btn btn-sm position-absolute end-0 top-50 translate-middle-y me-2 eye-top" onclick="togglePassword('password1')">👁️</button>
      </div>

      <div class="mb-3 text-start position-relative">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="password2" id="password2" required>
        <button type="button" class="btn btn-sm position-absolute end-0 top-50 translate-middle-y me-2 eye-top" onclick="togglePassword('password2')">👁️</button>
      </div>
      <button type="submit" class="btn btn-success w-100">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}